.root {
    -fx-font-family: "Arial Rounded MT Bold";
}

.titleText {
    -fx-font-size: 30;
}
.textField, .passField {
    -fx-font-size: 14;
    -fx-prompt-text-fill: #7e7e7e;
    -fx-padding: 0 15 0 15;
    -fx-border-width: 0.5px;
    -fx-border-radius: 10px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}
.textField:focused, .passField:focused {
    -fx-effect: dropshadow(three-pass-box, #007AF5, 10, 0, 0, 0);
}
.signUpButton {
    -fx-background-color: #F2F2F2;
    -fx-text-fill: #007af5;
    -fx-font-size: 14;

}
.signInButton {
    -fx-background-color: #007AF5;
    -fx-text-fill: WHITE;
    -fx-font-size: 14;
    -fx-background-radius: 10px;

}
.signInButton:hover {
    -fx-underline: true;
}

.textIcons {
    -fx-font-size: 14;
    -fx-prompt-text-fill: #7e7e7e;
}

