.root {
    -fx-font-family: "Arial Rounded MT Bold";
}

.titleText {
    -fx-font-size: 36;
}
.textField{
    -fx-font-size: 14;
    -fx-prompt-text-fill: #7e7e7e;
    -fx-padding: 0 15 0 15;
    -fx-border-width: 0.5px;
    -fx-border-radius: 10px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

.textArea{
    -fx-font-size: 14;
    -fx-padding: 0 8 0 8;
    -fx-prompt-text-fill: #7e7e7e;
    -fx-border-width: 0.5px;
    -fx-border-radius: 10px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}


.text {
    -fx-font-size: 18;
}

.textIcons {
    -fx-font-size: 14;
    -fx-prompt-text-fill: #7e7e7e;
}

